/* Reciept.css */
/* Regular styles for screen view */
.receipt {
  width: 300px;
  padding: 10px;
  border: 1px solid #ccc;
  margin: 0 auto;
  font-family: Arial, sans-serif;
}

.receipt-header {
  text-align: center;
  margin-bottom: 10px;
}

.receipt-header h1 {
  font-size: 1.5em;
  margin: 0;
}

.receipt-header p {
  font-size: 0.8em;
}

.receipt-items {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  padding: 10px 0;
}

.receipt-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

.item-quantity {
  width: 20px;
  text-align: center;
}

.item-name {
  flex: 1;
}

.item-price {
  width: 60px;
  text-align: right;
}

.receipt-summary {
  margin-top: 10px;
}

.summary-subtotal,
.summary-tax,
.summary-total {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

/* Styles for printing */
@media print {
  .receipt {
    width: 100%;
    border: none;
    font-family: Arial, sans-serif; /* Specify the font for printing if needed */
  }

  .receipt-header {
    text-align: center;
    margin-bottom: 10px;
  }

  .receipt-header h1 {
    font-size: 1.5em;
    margin: 0;
  }

  .receipt-header p {
    font-size: 0.8em;
  }

  .receipt-items {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
  }

  .receipt-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
  }

  .item-quantity {
    width: 20px;
    text-align: center;
  }

  .item-name {
    flex: 1;
  }

  .item-price {
    width: 60px;
    text-align: right;
  }

  .receipt-summary {
    margin-top: 10px;
  }

  .summary-subtotal,
  .summary-tax,
  .summary-total {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
  }

  /* Add more styles for printing as needed */
}
